.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
    height: 100vh;
    background: url("images/background2.jpg") no-repeat center / cover;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    position: fixed;
    top: 30px;
}
.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    /* min-height: 364px; */
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0px 10px #111;
    background-color: #fff;
    /* opacity: 0.7; */
    /* mix-blend-mode: difference; */
    margin-top: 15px;
    margin-left: auto;
}

.today {
    padding: 15px;
    font-family: Helvetica, sans-serif;
    align-items: center;
    color: #000;
}

.today-image {
    width: 110px;
}

.current-city {
    font-size: 30px;
    color: #000;
}

.next-days {
    width: 90px;
}

.today-temp {
    font-size: 6rem;
    justify-content: center;
}

.today-description {
    font-size: 15px;
    justify-content: center;
}

.week {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Helvetica, sans-serif;
}

.eachDay {
    margin: 15px;
    padding: 15px;
}

.week-description {
    font-size: 15px;
    /* text-transform: uppercase; */
}