*:focus {
    outline: none;
}

body, html {
    height: 100%;
    background-image: url("images/background6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
}

a, a:link, a:visited {
    text-decoration: none;
    color: inherit;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-family: Helvetica, sans-serif;
    color: #becdda;
    font-size: 62px;
    font-weight: 600;
    letter-spacing: .1rem;
    margin-top: 154px;
    margin-left: 44px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 575px;
    margin-top: 25px;
}

input[type=text] {
    width: 220px;
    border: none;
    background-color: #fff;
    font-size: 16px;
    padding: 5px 5px 5px 30px;
    color: #949494;
    transition: 0.2s;
    border-radius: 20px;
}

.search-button {
    background: none;
    border: 0px;
}

.search {
    height: 25px;
    margin: 3px;
    margin-top: 10px;
}

.wrapper {
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    width: 575px;
    margin-left: auto;
}

.another-wrapper {
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    width: 575px;
    margin-top: 50px;
    margin-left: 540px;
}

.today {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    padding: 15px;
    font-family: Helvetica, sans-serif;
    color: #fff;
}

.another-day {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 575px;
    margin-top: 30px;
    padding: 15px;
    font-family: Helvetica, sans-serif;
    color: #fff;
}

.row1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.today-icon {
    width: 8em;
}

.current-city {
    margin-top: 10px;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: .1rem;
}

.today-date {
    font-size: 16px;
    font-weight: 600;
    color: #cdd6e4;
}

.column2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.today-range {
    margin: 5px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #cdd6e4;
}

.today-temp {
    font-size: 110px;
    font-weight: bold;
    margin-left: 35px;
}

.today-feel {
    font-size: 14px;
    font-weight: 600;
    color: #cdd6e4;
}

.row3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.today-description {
    margin: 20px;
    font-size: 26px;
    font-weight: 600;
    font-style: oblique;
}

.heart-button {
    height: 25px;
    background: none;
    border: 0px;
    margin: 5px;
    margin-left: 10px;
    margin-top: 3px;
}

.heart {
    height: 15px;
}

.arrow {
    height: 25px;
}

.week {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    font-family: Helvetica, sans-serif;
}

.eachDay {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 15px;
    padding: 15px;
    color: #fff;
}

.week-date {
    font-weight: bold;
}

.week-temp {
    font-weight: 600;
}

.week-description {
    font-size: 15px;
    letter-spacing: .1rem;
}